
.comment {
    display: flex;
    flex-flow: column;
    text-align: center;
}

.message {
    width: 50%;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1em;
}

.text_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 12px;
    background-color: #9bee8c;
    text-align: left;
    font-size: 16px;
    color: #000000;
}

.text_box::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent transparent #9bee8c;
    translate: 100% calc(-50% - 0.4px);
    transform: skew(0, -10deg);
    transform-origin: left;
}

.uname {
    margin: 0;
    text-align: left;
}

.nowDate {
    margin: 0;
    text-align: right;
}

.form p{
    margin-bottom: 0.3em;
}

.form p,
input,
textarea {
    display: inline-block;
    vertical-align: middle;
}

/* 入力欄のスタイル */
input[type="text"],
textarea {
    width: calc(80% - 8rem);
    /* ラベルの幅を考慮 */
    padding: 0.5rem;
    margin-left: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

/* フォーカス時のスタイル */
input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: #00ADB5;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* プレースホルダーのスタイル */
::placeholder {
    color: #999;
}

a {
    display: inline-block;
    text-align: left;
    transition: color 0.3s;
    color: #393E46;
}

a:hover {
    color: #00ADB5;
}