@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: #EEEEEE;
    line-height: 1.3;
    width: 100%;
}

.comment{
    display: flex;
    flex-flow: column;
    text-align: center;
}

.message{
    width: 50%;
    display: inline-block;
    margin-right: 2em;
    margin-bottom: 1em;
}

.text_box {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
    border-radius: 12px;
    background-color: #9bee8c;
    text-align: left;
    font-size: 16px;
    color: #000000;
}

.text_box::after {
    content: "";
    position: absolute;
    top: 35%;
    right: 0;
    border-style: solid;
    border-width: 0 0 16px 16px;
    border-color: transparent transparent transparent #9bee8c;
    translate: 100% calc(-50% - 0.4px);
    transform: skew(0, -10deg);
    transform-origin: left;
}

.uname{
    margin: 0;
    text-align: left;
}
.nowData{
    margin-top: 0;
    text-align: right;
}

