@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background: #EEEEEE;
    line-height:1.3
}

.header {
    font-style: italic;
    letter-spacing: .1em;
    color: #658864;
    text-shadow:-4px 3px 0 #fff;
    width: 50%;
    margin: 0 auto;
}

.header p{
    font-size: 3em;
    margin: 30px;
    margin-bottom: 50px;
    position: relative;
    padding: 1.5rem 2rem;
    border-bottom: 3px solid #DDDDDD;
    border-left: 3px solid #DDDDDD;
    border-radius: 0 0 0 50px;
}

.header p:before {
    position: absolute;
    right: 50px;
    bottom: -21px;
    width: 0;
    height: 0;
    content: '';
    border-width: 21px 21px 0 0;
    border-style: solid;
    border-color: #DDDDDD transparent transparent transparent;
}

.header p:after {
    position: absolute;
    right: 54px;
    bottom: -14px;
    width: 0;
    height: 0;
    content: '';
    border-width: 14px 14px 0 0;
    border-style: solid;
    border-color: #EEEEEE transparent transparent transparent;
}

.wrap{
    position: relative;
    display: flex;
    justify-content: space-around;
}

.wrap a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.image{
    position: relative;
    /* 子要素を重ねるための設定 */
    display: inline-block;
    /* 必要に応じて適用 */
    margin: 0;
}

.image h2{
    position: absolute;
    /* 画像の上に重ねる */
    top: 50%;
    /* 上からの位置を調整 */
    left: 48%;
    /* 左からの位置を調整 */
    transform: translate(-50%, -50%);
    /* 完全に中央に配置 */
    color: black;
    /* 文字色を白に変更 */
    font-size: 24px;
    /* 文字サイズを調整 */
    font-weight: bold;
    /* 太字 */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    /* 見やすくするための影 */
    z-index: 1;
    /* 画像より前面に表示 */
}

.image img{
    display: block;
    /* 必要に応じて適用 */
    width: 30%;
    /* サイズ調整 */
    height: auto;
    /* サイズ調整 */
    margin: 0 auto;
}

.text{
    text-align: left;
}

#onOrOff{
    font-weight: bold;
        /* 太字 */
}